# Completed Mapping Logic

In [2]:
import spark as sp
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, DoubleType

In [6]:
spark = SparkSession.builder.appName("cdw_sapp_credit.json").getOrCreate()
CC_DF = spark.read.format("json") \
    .option("header", True) \
    .load("/Users/roy/Documents/Data-Engineer/env/capstone_DE/data-engineer-capstone/Credit_Card_Dataset/cdw_sapp_credit.json")
CC_DF.show(5)

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 5 rows

In [7]:
CC_DF.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)

Mapping Logics

In [8]:
#Convert DAY, MONTH, and YEAR into a TIMEID (YYYYMMDD)
from pyspark.sql.functions import concat_ws, lpad

# create a new column called "TIMEID" by concatenating YEAR, MONTH, and DAY columns
CC_DF = CC_DF.withColumn("TIMEID", concat_ws("", "YEAR", lpad("MONTH", 2, "0"), lpad("DAY", 2, "0")))

# display the new data frame with the TIMEID column drop the others
CC_DF.show()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|  TIMEID|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|20180214|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|20180320|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|20180708|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|20180419|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|20181010|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|20180528|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|20180519|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|20180808|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|20180318|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|20180903|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|20180821|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|20181224|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|20180403|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|20180415|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|20180517|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|20180706|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|20180928|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|20180704|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|20180424|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|20181008|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
only showing top 20 rows